* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Títulos */
h1, h2, h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; 
  color: hwb(342 34% 9%);
  font-family: 'Sour Gummy', Arial, sans-serif;
  margin-top: 1rem;
}


/* Navbar */
.navbar {
  padding: 1rem 3rem;              
  background-color: #e75d8b;
  font-family: 'Nunito', Arial, sans-serif;
}

html,body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 1rem;          
  line-height: 1.6;          
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Main */
.container-principal {
  text-align: center;
  background-color: #fff4dc;
  padding: 3rem 2%;
  flex: 1;
}

/*Footer*/
footer {
  background-color: #dd508b;   
  color: #000;       
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9rem;
  border-top: 2px solid #e0bfb8;
} 

footer a {
  text-decoration: none;
  color: #dddddd;
}

/*Links*/
a {
  text-decoration: none;
  color: #e75d8b;
  font-size: 1rem;
}

p{
  margin-left: 2rem; 
  margin-right: 2rem;
  align-self: center;
}

/*Texto Justificado*/
.text-justify {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 2rem;
  margin-right: 2rem;
}



/*Carrossel*/
#carrossel-home {
  display: block; 
  width: 95%;
  max-width: 80rem;
  margin: 0 auto 4%;
  margin-bottom: 2rem;
  min-height: 50vh; 

}

#carrossel-home .carousel-inner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; 
  overflow: hidden; 

}

#carrossel-home .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;  
}

/* Cards Home */
.card-home {
  border-radius: 0.9375rem; 
  background-color: #fffaf2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.card-home .btn {
  width: 60%; 
  max-width: 12rem; 
  margin: 0.5rem auto;
  display: block;
  text-align: center; 
}


.card-home img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}



/*Tabela*/
table, .tabela-eventos {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
  table-layout: auto;     
}

th, td {
  padding: 1rem;
  text-align: center;
  border: 0.0625rem solid #dddddd; 
}

th {
  background-color: #dd508b;
  color: white;
}

tr:nth-child(even) { background-color: #f9f9f9; }
tr:hover { background-color: #e48ab4; }

/*Qrcode*/
.qrcode-section {
  background: #fffaf2;
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 28rem;
  margin: 1rem auto;            
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.08);
  text-align: center;
  border: 0.09rem solid #ffd9b3;
}

.qrcode-section img {
  width: 70%;
  max-width: 14rem;
  min-width: 8rem;         
  margin: 0.8rem auto;
  display: block;
  border-radius: 0.5rem;
}

.qrcode-title {
  font-weight: 700;
  font-size: 1.2rem;
  color: #b40054;
  margin-bottom: 1rem;
}

.qrcode-sub {
  font-size: 1rem;
  font-weight: 600;
  color: #a6365c;
  margin-top: 1rem;
}

/*Card Parceiros*/
.parceiros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.card-parceiro {
  background-color: #fffaf2;; 
  padding: 1.8rem;
  border-radius: 1.2rem;
  border: none; 
  box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card-parceiro:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
}

.card-parceiro img {
  width: 80%;
  max-width: 9rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  object-fit: contain; 
}

.card-parceiro p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #b40054;
  margin-top: 0.6rem;
  letter-spacing: 0.03rem;
} 

/* Fieldset */
fieldset {
  border: 0.0625rem solid #e43a72;
  background-color: #fffaf2;; 
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.1);

  width: 80%;
  max-width: 30rem;  
  min-height: 30vh;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 2rem auto;
  box-sizing: border-box; 
}

/* Formulário */
.campo{
  display: flex;
  margin: 1rem 0;
  width: 100%;
  font-size: 1rem;
  align-items: center;
  flex-wrap: nowrap;
}

label {
  flex: 0 0 20%;       
  text-align: right;
  margin-right: 0.625rem;
  min-width: 6rem;
}

input, select, textarea {
  flex: 1 1 0; 
  padding: 0.3125rem;
  border: 0.06rem solid #ccc;
  min-width: 0;
  max-width: 100%;
  border-radius: 0.3125rem;
}

.acoes {
  display: flex;
  justify-content: center;
  gap: 0.625rem; 
  margin: 0.625rem; 
  flex-direction: column;
  align-items: center;
}

.acoes button {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.3125rem; 
  cursor: pointer;
  border-color: #e43a72;
}

.acoes button:hover {
  background-color: #e43a72;
  color: white;
}

.acoes a{
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

/* Perfis Animais */
.container-perfis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.5625rem; 
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}


figcaption h2 {
  font-size: 1.6rem;   
  margin-bottom: 0.5rem;  
  font-family: 'Sour Gummy', sans-serif;
  color: hwb(342 34% 9%);
}

.perfil-animal {
  border: 0.1em solid rgb(226, 121, 138);
  border-radius: 0.8em;
  overflow: hidden;
  text-align: center;
  width: 100%;

}

.perfil-animal img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  transition: transform 0.3s ease;

}

.perfil-animal img:hover { transform: scale(1.05); }

.perfil-animal figcaption {
  padding: 1rem;
  background-color: #fffaf2;;
}


img.img-fluid.my-3 {
  width: 60%;       
  max-width: 30rem; 
  height: auto;   
  display: block;
  margin: 1rem auto; 
  border-radius: 0.5rem;  
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  border: 0.06rem solid #eee; 

}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;             
  padding: 0.5em 1em;        
  border-radius: 0.5rem;     
  transition: all 0.3s ease;
  font-weight: bold; 
  color: #b40054;             
  border: 0.0625rem solid #b40054; 
  text-align: center;
  background-color: #ffc4de;
}


.btn:hover,
.btn:active {
  background-color: #e43a72;  
  color: #fff;              
  transform: scale(1.05);     
}


/*Seletor composto*/
.card-home .btn {
  border: 0.125rem solid #e75d8b;
}

/*Pseudoclasse*/
.btn:hover {
  opacity: 0.9;
}

/*Pseudoelemeto*/
h1::before {
  content: "🐾 ";
  margin-right: 0.25rem;
}



.lado-lado {
  display: flex;
  flex-wrap: wrap;      
  align-items: center;  
  gap: 2rem;       
}

.lado-lado .texto {
  flex: 1 1 300px; 
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.lado-lado img {
  flex: 1 1 300px;   
  max-width: 400px; 
  width: 100%;     
  height: auto;   
  min-width: 200px; 
  border-radius: 1rem;
}

#conheca {
  margin-top: 2rem;
  margin-bottom: 0;
}

@media (max-width: 760px) {
  .navbar {
    padding: 0.625rem;
  }

      #carrossel-home {
        width: 100%;
        min-height: 35vh;
    }
  .campo {
    flex-direction: column;
    align-items: stretch;
  }

  .campo label {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .lado-lado {
    flex-direction: column;
    gap: 1.5rem;
  }

  .card-home img {
    height: 18vh;
  }

  .btn-login {
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
  }
  table, .tabela-eventos {
    width: 95%;          
    font-size: 0.75rem; 
    overflow-x: auto;    
    display: block;
  }
}
